.footer {
    background-color: $background-dark;
    padding: 100px 0 200px;

    @media (max-width: $laptop-portrait - 1) {
        padding: 50px 0 100px;

        .social__title {
            font-size: 1.8rem;
        }
    }
}

.footer__logo {
    max-width: 340px;
    width: 100%;
    display: block;
    margin-left: -13px;

    @media (max-width: $laptop-portrait - 1) {
        max-width: 220px;
    }
}

.footer__title {
    color: $font-light;

    @media (max-width: $laptop-portrait - 1) {
        display: none;
    }
}

.footer-column {
    margin: 10px 0;

    .menu-item a {
        margin: 10px 0;
        font-size: 1.8rem;
        display: inline-block;
        padding-right: 20px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: calc(50% - 5px);
            right: -2px;
            width: 14px;
            height: 14px;
            background: url('../../assets/img/arrow-right.svg');
            @extend .bg-contain;
        }
    }

    @media (max-width: $laptop-portrait - 1) {
        margin: 5px 0;

        &:first-child {
            margin-bottom: 50px;
        }
    }
}

.footer__social {
    @extend .d-f;
    gap: 10px;
    color: $color-white;

    @media (min-width: 1200px) {
        justify-content: flex-end;
    }
}

.social__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-main;
    transition: all ease-in-out 0.2s;
    @extend .d-f-center;

    &:hover {
        background-color: $color-btn-hover;
    }

    img {
        width: 15px;
        height: 30px;
        @extend .cover;
    }
}


