.owl-carousel {
    &.categories__list, &.most-pop__list {
        @media (min-width: $laptop-landscape) {
            margin: 0 -10px;
        }

        .owl-stage {
            padding: 30px 0;
        }

        .owl-stage-outer {
            padding: 0 3px;

            @media (min-width: $laptop-landscape) {
                padding: 0 10px;
            }
        }
    }
}