/* devanagari */
@font-face {
    font-family: 'TW';
    font-weight: 600;
    src: url('../assets/fonts/TitilliumWeb-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'TW';
    font-weight: 400;
    src: url('../assets/fonts/TitilliumWeb-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'TW';
    font-weight: 300;
    src: url('../assets/fonts/TitilliumWeb-Light.ttf') format('ttf');
}