$font-dark: rgba(51, 51, 51, 1);
$font-light: rgba(255, 255, 255, 1);
$color-btn: rgba(255, 100, 80, 1);
$color-main: rgba(255, 100, 80, 1);
$color-white: rgba(255, 255, 255, 1);

$laptop-landscape: 1024px;
$laptop-portrait: 768px;
$mobile: 576px;